{% comment %}<!-- the navigation bar on every page-->{% endcomment %}
<!-- _includes/navigation -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{site.baseurl}}/">
        <img src="{{ site.baseurl }}/assets/img/icons/SVM-Logo.svg"
             class="navbar-brand-image d-inline-block align-bottom"
             alt="SVM Logo"></a>

      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% assign mainMenuPages = site.pages | sort: "menu_position" %}
        <ul class="navbar-nav">
          <!-- entering for loop-->
          {% for item in mainMenuPages %}
          <!-- -->
            {%- if item.menu_position -%}
              {% assign itemMenuTitle = {{item.menu_title | default: item.title | escape}} %}
                 {% if item.url == page.url %}
                   <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">{{itemMenuTitle }}</a>
                   </li>
                 {% else %}
                   <li class="nav-item">
                      <a class="nav-link" href="{{ item.url | relative_url }}">{{itemMenuTitle }}</a>
                   </li>
                 {% endif %}
            {% endif %}
          {% endfor %}
          <!-- exiting for loop-->
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END _includes/navigation -->
