<!-- _includes/social.html -->
<!-- Twitter -->
<meta name="twitter:card" content="{% if page.title %}summary{% else %}summary_large_image{% endif %}">
<meta name="twitter:title" content="{{ site.title | smartify }}">
<meta name="twitter:description" content="{{ site.description | smartify }}">
<meta name="twitter:image" content="{{ site.url | append: site.social_image_path }}">

<!-- Facebook -->
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title | smartify }}">
<meta property="og:description" content="{{ site.description | smartify }}">
<meta property="og:image" content="{{ site.url | replace: 'https://', 'http://' | append: site.social_image_path }}">
<!-- End _includes/social.html -->
