---
layout: default
---
{% comment %} <!-- template for a normal article -->{% endcomment %}


<!-- layout article -->
<main role="main">
  <div class="container">
    <!-- Modal -->
    <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" style="color: dimgray">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Teilnehmer Login</h5>
            <a class="btn-close" aria-label="Abbrechen" href="/index.html"></a>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="password-field" class="col-form-label">Passwort:</label>
                <input type="text" class="form-control" id="password-field">
                <div class="invalid-feedback">
                  Verwenden Sie bitte das Passwort, das Sie von uns erhalten haben.
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="password-ok-button" class="btn btn-success">OK</button>
            <a class="btn btn-primary" href="/index.html">Abbrechen</a>

          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron my-md-5">
      <h1 class="featurette-heading" style="text-shadow: 2px 2px 4px #000000;color: #CAF273">{{ page.title | escape
        }}</h1>
      <h3 class="text-end">{{ page.subtitle | escape }}</h3>
      <figure class="hero px-md-4 pt-md-3">
        <img src="assets/img/posts/bruno-gomiero-jp7J14W9sSg-unsplash.jpg"
             class="img-fluid"
             style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);"
             alt="junge Frau mit Kopfhörern">
        <div class="copyright">
          Photo by <a href="https://unsplash.com/@brunogomiero?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Bruno Gomiero</a> on <a href="https://unsplash.com/collections/8882620/headphones?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </div>
      </figure>
    </div>
    <div class="lead mb-md-5">
      {{ content }}
    </div>
  </div>
</main>
<!-- end layout article -->
